.search {
    width: 100%;
    margin-bottom: auto;
    margin-top: 20px;
    height: 50px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;

    outline: 1px solid rgba(0,0,0,.125);
}

.search-input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    margin-top: 5px;
    caret-color: transparent;
    line-height: 20px;
    transition: width 0.4s linear
}
    
.search .search-input {
    padding: 0 10px;
    width: 100%;
    caret-color: #536bf6;
    font-size: 19px;
    font-weight: 300;
    color: black;
    transition: width 0.4s linear;
}

.search-icon {
    height: 34px;
    width: 34px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #536bf6;
    font-size: 10px;
    bottom: 30px;
    position: relative;
    border-radius: 5px;
}

.search-icon:hover{
    color: #fff !important;
}

a:link {
    text-decoration: none
}

.search-company-area .section-title .title-text h2 {
    margin: 0px 0 15px;
}

.search-company-area .primary-btn {
    margin-top: 40px;
}

.search-company-area .tab-content .table {
    -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
}
.search-company-area .tab-content .table thead {
    background-color: #536bf6;
    color: #fff;
    font-size: 20px;
}
.search-company-area .tab-content .table thead tr th {
    padding: 20px;
    border: 0;
}
.search-company-area .tab-content .table tbody {
    background: #fff;
}
.search-company-area .tab-content .table tbody tr.inner-box {
    border-bottom: 1px solid #dee2e6;
}
.search-company-area .tab-content .table tbody tr th {
    border: 0;
    padding: 30px 20px;
    vertical-align: middle;
}
.search-company-area .tab-content .table tbody tr td {
    padding: 30px 20px;
    vertical-align: middle;
}
.search-company-area .tab-content .table tbody tr td .r-no span {
    color: #252525;
}
.search-company-area .tab-content .table tbody tr td .event-wrap h3 a {
    font-size: 20px;
    line-height: 20px;
    color: #cf057c;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.search-company-area .tab-content .table tbody tr td .event-wrap h3 a:hover {
    color: #4125dd;
}
.search-company-area .tab-content .table tbody tr td .event-wrap .profit-margins {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 10px 0;
}
.search-company-area .tab-content .table tbody tr td .event-wrap .profit-margins a {
    color: #252525;
    font-size: 16px;
    margin-left: 10px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.search-company-area .tab-content .table tbody tr td .event-wrap .profit-margins a:before {
    content: "\f07b";
    font-family: fontawesome;
    padding-right: 5px;
}
.search-company-area .tab-content .table tbody tr td .event-wrap .recommendation span {
    color: #252525;
}
.search-company-area .tab-content .table tbody tr td .event-wrap .revenue-growth {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 10px 0;
}
.search-company-area .tab-content .table tbody tr td .event-wrap .revenue-growth a {
    color: #4125dd;
    font-size: 16px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.search-company-area .tab-content .table tbody tr td .event-wrap .revenue-growth a:hover {
    color: #4125dd;
}
.search-company-area .tab-content .table tbody tr td .event-wrap .revenue-growth a:before {
    content: "\f007";
    font-family: fontawesome;
    padding-right: 5px;
}
.search-company-area .tab-content .table tbody tr td .primary-btn {
    margin-top: 0;
    text-align: center;
}
.fd-btn {
    background-color: #536bf6;
    border-color: #536bf6;
}
